################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TekRemittance/FileContentIndex
/.vs/TekRemittance/DesignTimeBuild/.dtbcache.v2
/TekRemittance.Repository/obj/project.assets.json
/TekRemittance.Repository/obj/project.nuget.cache
/TekRemittance.Service/obj/project.assets.json
/TekRemittance.Service/obj/project.nuget.cache
/TekRemittance.Service/obj/TekRemittance.Service.csproj.nuget.dgspec.json
/TekRemittance.Repository/obj/TekRemittance.Repository.csproj.nuget.dgspec.json
/.vs/ProjectEvaluation/tekremittance.metadata.v9.bin
/.vs/ProjectEvaluation/tekremittance.projects.v9.bin
/.vs/ProjectEvaluation/tekremittance.strings.v9.bin
/.vs/TekRemittance/CopilotIndices/17.14.995.13737/CodeChunks.db
/.vs/TekRemittance/CopilotIndices/17.14.995.13737/CodeChunks.db-shm
/.vs/TekRemittance/CopilotIndices/17.14.995.13737/CodeChunks.db-wal
/.vs/TekRemittance/CopilotIndices/17.14.995.13737/SemanticSymbols.db
/.vs/TekRemittance/CopilotIndices/17.14.995.13737/SemanticSymbols.db-shm
/.vs/TekRemittance/CopilotIndices/17.14.995.13737/SemanticSymbols.db-wal
/.vs/TekRemittance/v17/.futdcache.v2
/.vs/TekRemittance/v17/.suo
/.vs/TekRemittance/v17/DocumentLayout.backup.json
/.vs/TekRemittance/v17/DocumentLayout.json
/TekRemittance.Repository/bin/Debug/net8.0/TekRemittance.Repository.dll
/TekRemittance.Repository/bin/Debug/net8.0/TekRemittance.Repository.pdb
/TekRemittance.Repository/obj/Debug/net8.0/ref/TekRemittance.Repository.dll
/TekRemittance.Repository/obj/Debug/net8.0/refint/TekRemittance.Repository.dll
/TekRemittance.Repository/obj/Debug/net8.0/TekRemittance.Repository.AssemblyInfo.cs
/TekRemittance.Repository/obj/Debug/net8.0/TekRemittance.Repository.AssemblyInfoInputs.cache
/TekRemittance.Repository/obj/Debug/net8.0/TekRemittance.Repository.csproj.CoreCompileInputs.cache
/TekRemittance.Repository/obj/Debug/net8.0/TekRemittance.Repository.csproj.FileListAbsolute.txt
/TekRemittance.Repository/obj/Debug/net8.0/TekRemittance.Repository.dll
/TekRemittance.Repository/obj/Debug/net8.0/TekRemittance.Repository.genruntimeconfig.cache
/TekRemittance.Repository/obj/Debug/net8.0/TekRemittance.Repository.pdb
/TekRemittance.Repository/obj/Debug/net8.0/TekRemittance.Repository.sourcelink.json
/TekRemittance.Service/bin/Debug/net8.0/TekRemittance.Repository.dll
/TekRemittance.Service/bin/Debug/net8.0/TekRemittance.Repository.pdb
/TekRemittance.Service/bin/Debug/net8.0/TekRemittance.Service.dll
/TekRemittance.Service/bin/Debug/net8.0/TekRemittance.Service.pdb
/TekRemittance.Service/obj/Debug/net8.0/ref/TekRemittance.Service.dll
/TekRemittance.Service/obj/Debug/net8.0/refint/TekRemittance.Service.dll
/TekRemittance.Service/obj/Debug/net8.0/TekRemittance.Service.AssemblyInfo.cs
/TekRemittance.Service/obj/Debug/net8.0/TekRemittance.Service.AssemblyInfoInputs.cache
/TekRemittance.Service/obj/Debug/net8.0/TekRemittance.Service.csproj.AssemblyReference.cache
/TekRemittance.Service/obj/Debug/net8.0/TekRemittance.Service.csproj.CoreCompileInputs.cache
/TekRemittance.Service/obj/Debug/net8.0/TekRemittance.Service.csproj.FileListAbsolute.txt
/TekRemittance.Service/obj/Debug/net8.0/TekRemittance.Service.dll
/TekRemittance.Service/obj/Debug/net8.0/TekRemittance.Service.pdb
/TekRemittance.Service/obj/Debug/net8.0/TekRemittance.Service.sourcelink.json
/TekRemittance.Service/Class1.cs
/TekRemittance.Web/bin/Debug/net8.0/TekRemittance.Repository.dll
/TekRemittance.Web/bin/Debug/net8.0/TekRemittance.Repository.pdb
/TekRemittance.Web/bin/Debug/net8.0/TekRemittance.Service.dll
/TekRemittance.Web/bin/Debug/net8.0/TekRemittance.Service.pdb
/TekRemittance.Web/bin/Debug/net8.0/TekRemittance.Web.dll
/TekRemittance.Web/bin/Debug/net8.0/TekRemittance.Web.exe
/TekRemittance.Web/bin/Debug/net8.0/TekRemittance.Web.pdb
/TekRemittance.Web/obj/Debug/net8.0/EndpointInfo/TekRemittance.Web.json
/TekRemittance.Web/obj/Debug/net8.0/ref/TekRemittance.Web.dll
/TekRemittance.Web/obj/Debug/net8.0/refint/TekRemittance.Web.dll
/TekRemittance.Web/obj/Debug/net8.0/ApiEndpoints.json
/TekRemittance.Web/obj/Debug/net8.0/apphost.exe
/TekRemittance.Web/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/TekRemittance.Web/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/TekRemittance.Web/obj/Debug/net8.0/TekRemittance.Web.AssemblyInfo.cs
/TekRemittance.Web/obj/Debug/net8.0/TekRemittance.Web.AssemblyInfoInputs.cache
/TekRemittance.Web/obj/Debug/net8.0/TekRemittance.Web.csproj.AssemblyReference.cache
/TekRemittance.Web/obj/Debug/net8.0/TekRemittance.Web.csproj.CoreCompileInputs.cache
/TekRemittance.Web/obj/Debug/net8.0/TekRemittance.Web.csproj.FileListAbsolute.txt
/TekRemittance.Web/obj/Debug/net8.0/TekRemittance.Web.dll
/TekRemittance.Web/obj/Debug/net8.0/TekRemittance.Web.genruntimeconfig.cache
/TekRemittance.Web/obj/Debug/net8.0/TekRemittance.Web.pdb
/TekRemittance.Web/obj/Debug/net8.0/TekRemittance.Web.sourcelink.json
