################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TekRemittance/FileContentIndex
/.vs/TekRemittance/DesignTimeBuild/.dtbcache.v2
/TekRemittance.Repository/obj/project.assets.json
/TekRemittance.Repository/obj/project.nuget.cache
/TekRemittance.Service/obj/project.assets.json
/TekRemittance.Service/obj/project.nuget.cache
/TekRemittance.Service/obj/TekRemittance.Service.csproj.nuget.dgspec.json
/TekRemittance.Repository/obj/TekRemittance.Repository.csproj.nuget.dgspec.json
/.vs/ProjectEvaluation/tekremittance.metadata.v9.bin
/.vs/ProjectEvaluation/tekremittance.projects.v9.bin
/.vs/ProjectEvaluation/tekremittance.strings.v9.bin
/.vs/TekRemittance/v17/.futdcache.v2
/.vs/TekRemittance/v17/.suo
/.vs/TekRemittance/v17/DocumentLayout.backup.json
/.vs/TekRemittance/v17/DocumentLayout.json
/global.json
/TekRemittance.Repository/bin/Debug/net8.0/TekRemittance.Repository.deps.json
/TekRemittance.Repository/bin/Debug/net8.0/TekRemittance.Repository.dll
/TekRemittance.Repository/bin/Debug/net8.0/TekRemittance.Repository.pdb
/TekRemittance.Repository/bin/Debug/net8.0/TekRemittance.Repository.runtimeconfig.json
/TekRemittance.Repository/Entities/City.cs
/TekRemittance.Repository/Migrations/20251016123904_AcquisitionAgentAccount.cs
/TekRemittance.Repository/Migrations/20251016123904_AcquisitionAgentAccount.Designer.cs
/TekRemittance.Repository/Migrations/20251020130829_AccountType.cs
/TekRemittance.Repository/Migrations/20251020130829_AccountType.Designer.cs
/TekRemittance.Repository/Migrations/20251020131433_RemoveActiveFromAcquisitionAgentAccount.cs
/TekRemittance.Repository/Migrations/20251020131433_RemoveActiveFromAcquisitionAgentAccount.Designer.cs
/TekRemittance.Repository/Migrations/20251020135248_RenameProperties.cs
/TekRemittance.Repository/Migrations/20251020135248_RenameProperties.Designer.cs
/TekRemittance.Repository/Migrations/AppDbContextModelSnapshot.cs
/TekRemittance.Repository/obj/Debug/net8.0/ref/TekRemittance.Repository.dll
/TekRemittance.Repository/obj/Debug/net8.0/refint/TekRemittance.Repository.dll
/TekRemittance.Repository/obj/Debug/net8.0/TekRemittance.Repository.AssemblyInfo.cs
/TekRemittance.Repository/obj/Debug/net8.0/TekRemittance.Repository.AssemblyInfoInputs.cache
/TekRemittance.Repository/obj/Debug/net8.0/TekRemittance.Repository.assets.cache
/TekRemittance.Repository/obj/Debug/net8.0/TekRemittance.Repository.csproj.AssemblyReference.cache
/TekRemittance.Repository/obj/Debug/net8.0/TekRemittance.Repository.csproj.CoreCompileInputs.cache
/TekRemittance.Repository/obj/Debug/net8.0/TekRemittance.Repository.csproj.FileListAbsolute.txt
/TekRemittance.Repository/obj/Debug/net8.0/TekRemittance.Repository.dll
/TekRemittance.Repository/obj/Debug/net8.0/TekRemittance.Repository.GeneratedMSBuildEditorConfig.editorconfig
/TekRemittance.Repository/obj/Debug/net8.0/TekRemittance.Repository.genruntimeconfig.cache
/TekRemittance.Repository/obj/Debug/net8.0/TekRemittance.Repository.GlobalUsings.g.cs
/TekRemittance.Repository/obj/Debug/net8.0/TekRemittance.Repository.pdb
/TekRemittance.Repository/obj/Debug/net8.0/TekRemittance.Repository.sourcelink.json
/TekRemittance.Repository/obj/TekRemittance.Repository.csproj.EntityFrameworkCore.targets
/TekRemittance.Repository/obj/TekRemittance.Repository.csproj.nuget.g.props
/TekRemittance.Service/bin/Debug/net8.0/TekRemittance.Repository.dll
/TekRemittance.Service/bin/Debug/net8.0/TekRemittance.Repository.pdb
/TekRemittance.Service/bin/Debug/net8.0/TekRemittance.Service.deps.json
/TekRemittance.Service/bin/Debug/net8.0/TekRemittance.Service.dll
/TekRemittance.Service/bin/Debug/net8.0/TekRemittance.Service.pdb
/TekRemittance.Service/Implementations/BasicSetupService.cs
/TekRemittance.Service/obj/Debug/net8.0/ref/TekRemittance.Service.dll
/TekRemittance.Service/obj/Debug/net8.0/refint/TekRemittance.Service.dll
/TekRemittance.Service/obj/Debug/net8.0/TekRemittance.Service.AssemblyInfo.cs
/TekRemittance.Service/obj/Debug/net8.0/TekRemittance.Service.AssemblyInfoInputs.cache
/TekRemittance.Service/obj/Debug/net8.0/TekRemittance.Service.assets.cache
/TekRemittance.Service/obj/Debug/net8.0/TekRemittance.Service.csproj.AssemblyReference.cache
/TekRemittance.Service/obj/Debug/net8.0/TekRemittance.Service.csproj.CoreCompileInputs.cache
/TekRemittance.Service/obj/Debug/net8.0/TekRemittance.Service.csproj.FileListAbsolute.txt
/TekRemittance.Service/obj/Debug/net8.0/TekRemittance.Service.dll
/TekRemittance.Service/obj/Debug/net8.0/TekRemittance.Service.GeneratedMSBuildEditorConfig.editorconfig
/TekRemittance.Service/obj/Debug/net8.0/TekRemittance.Service.GlobalUsings.g.cs
/TekRemittance.Service/obj/Debug/net8.0/TekRemittance.Service.pdb
/TekRemittance.Service/obj/Debug/net8.0/TekRemittance.Service.sourcelink.json
/TekRemittance.Service/obj/TekRemittance.Service.csproj.nuget.g.props
/TekRemittance.Web/appsettings.json
/TekRemittance.Web/bin/Debug/net8.0/appsettings.json
/TekRemittance.Web/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/TekRemittance.Web/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/TekRemittance.Web/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/TekRemittance.Web/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/TekRemittance.Web/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/TekRemittance.Web/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/TekRemittance.Web/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/TekRemittance.Web/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/TekRemittance.Web/bin/Debug/net8.0/TekRemittance.Repository.deps.json
/TekRemittance.Web/bin/Debug/net8.0/TekRemittance.Repository.dll
/TekRemittance.Web/bin/Debug/net8.0/TekRemittance.Repository.pdb
/TekRemittance.Web/bin/Debug/net8.0/TekRemittance.Repository.runtimeconfig.json
/TekRemittance.Web/bin/Debug/net8.0/TekRemittance.Service.dll
/TekRemittance.Web/bin/Debug/net8.0/TekRemittance.Service.pdb
/TekRemittance.Web/bin/Debug/net8.0/TekRemittance.Web.deps.json
/TekRemittance.Web/bin/Debug/net8.0/TekRemittance.Web.dll
/TekRemittance.Web/bin/Debug/net8.0/TekRemittance.Web.exe
/TekRemittance.Web/bin/Debug/net8.0/TekRemittance.Web.pdb
/TekRemittance.Web/bin/Debug/net8.0/TekRemittance.Web.runtimeconfig.json
/TekRemittance.Web/Migration Command.txt
/TekRemittance.Web/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/TekRemittance.Web/obj/Debug/net8.0/ApiEndpoints.json
/TekRemittance.Web/obj/Debug/net8.0/apphost.exe
/TekRemittance.Web/obj/Debug/net8.0/EndpointInfo/TekRemittance.Web.json
/TekRemittance.Web/obj/Debug/net8.0/EndpointInfo/TekRemittance.Web.OpenApiFiles.cache
/TekRemittance.Web/obj/Debug/net8.0/ref/TekRemittance.Web.dll
/TekRemittance.Web/obj/Debug/net8.0/refint/TekRemittance.Web.dll
/TekRemittance.Web/obj/Debug/net8.0/staticwebassets/msbuild.build.TekRemittance.Web.props
/TekRemittance.Web/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.TekRemittance.Web.props
/TekRemittance.Web/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.TekRemittance.Web.props
/TekRemittance.Web/obj/Debug/net8.0/staticwebassets.build.json
/TekRemittance.Web/obj/Debug/net8.0/TekRemittance.Web.AssemblyInfo.cs
/TekRemittance.Web/obj/Debug/net8.0/TekRemittance.Web.AssemblyInfoInputs.cache
/TekRemittance.Web/obj/Debug/net8.0/TekRemittance.Web.assets.cache
/TekRemittance.Web/obj/Debug/net8.0/TekRemittance.Web.csproj.AssemblyReference.cache
/TekRemittance.Web/obj/Debug/net8.0/TekRemittance.Web.csproj.CoreCompileInputs.cache
/TekRemittance.Web/obj/Debug/net8.0/TekRemittance.Web.csproj.FileListAbsolute.txt
/TekRemittance.Web/obj/Debug/net8.0/TekRemittance.Web.dll
/TekRemittance.Web/obj/Debug/net8.0/TekRemittance.Web.GeneratedMSBuildEditorConfig.editorconfig
/TekRemittance.Web/obj/Debug/net8.0/TekRemittance.Web.genruntimeconfig.cache
/TekRemittance.Web/obj/Debug/net8.0/TekRemittance.Web.GlobalUsings.g.cs
/TekRemittance.Web/obj/Debug/net8.0/TekRemittance.Web.MvcApplicationPartsAssemblyInfo.cs
/TekRemittance.Web/obj/Debug/net8.0/TekRemittance.Web.pdb
/TekRemittance.Web/obj/Debug/net8.0/TekRemittance.Web.sourcelink.json
/TekRemittance.Web/obj/project.assets.json
/TekRemittance.Web/obj/project.nuget.cache
/TekRemittance.Web/obj/TekRemittance.Web.csproj.EntityFrameworkCore.targets
/TekRemittance.Web/obj/TekRemittance.Web.csproj.nuget.dgspec.json
/TekRemittance.Web/obj/TekRemittance.Web.csproj.nuget.g.props
/TekRemittance.Web/obj/TekRemittance.Web.csproj.nuget.g.targets
